<div id="content">
	<div id="scribble">
		<canvas id="canvas" width="500" height="300">
			<p>Your browser doesn't support canvas! Sorry buddy, come back with a modern browser.</p>
		</canvas>
	</div>
</div>