
		<h2>Your challenge: Draw <span id="target"><%= @type.full_name %></span> in 10 seconds!</h2>

		<canvas id="canvas" width="500" height="300">
			<p>Your browser doesn't support canvas! Sorry buddy, come back with a modern browser.</p>
		</canvas>

		<form id="submit" method="post" action="save" onsubmit="return save()" >
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<input name="type_id" value="<%= @type.id %>" type="hidden">
			<input id="data" name="data" value="" type="hidden" />
			<input type="Submit" /> 
		</form>


<%= javascript_include_tag 'game' %>