* {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}


div#content {
	position: absolute;
	width: 500px;
	margin-left:50%;
	display: block;
}

div#scribble {
	margin-top: 50px;
	margin-left: -250px;
}

#scribble canvas {
	border: 1px solid black;
	height: 300px;
	width: 500px;
}

#target {
	color: red;
}

/*
*** Rating page
*/

a.scribble0, a.scribble1 {
	border: 2px solid black;
	display: block;
	width: 500px;
	margin: 10px;
	background-position: right;
	background-repeat: no-repeat;
}

a.scribble0 img, a.scribble1  img {
	display: block;
}