* {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}


div#content-wrapper {
	display: block;
	margin: 0 auto;
	width: 500px;
}

div#content {
	width: 500px;
}

#canvas-container {
	border: 1px solid black;
	height: 300px;
	width: 500px;
}

#canvas-container #cover {
	position: absolute;
	display: block;
	font-size: 4em;
	font-weight: bold;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	width: 500px;
	height: 100px;
}

#canvas-container span:hover {
	cursor: pointer;
	cursor: hand;
}

canvas {
	position: absolute;
	border: 1px solid black;
	height: 300px;
	width: 500px;
	cursor: crosshair;
}

#flashy {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -1ex;
    text-align:center;
}

#target {
	color: red;
	font-size: 150%;
}

#timer {
	font-size: 150%;
	display: inline-block;
	width: 75px;
	text-align: center;
}

#alert {
	color: red;
}

#notice {
	color: green;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

/*
*** Rating page
*/

a.scribble0, a.scribble1 {
	border: 2px solid black;
	display: block;
	width: 500px;
	margin: 10px;
	background-position: right;
	background-repeat: no-repeat;
}

a.scribble0 img, a.scribble1  img {
	display: block;
}